@charset "UTF-8";
header {
  padding: 10px 20px;
  background-color: aliceblue;
}
h1 {
  color: chartreuse;
  padding: 5px 10px;
}
h2 {
  color: black;
}
main {
  background-color: cornsilk;
}
li {
  list-style: none;
  padding: 5px 5px;
  font-size: 20px;
  font-style: initial;
  color: black;
}
footer {
  background-color: aquamarine;
  color: #2b546a;
}
.footer {
  clear: left;
}
